<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hive Connect</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo"></div>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Custom</a></li>
          <li><a href="">Transactions</a></li>
          <li><a href="">Hive Wallet</a></li>
        </ul>
      </nav>
      <button>Login</button>
    </div>
    <div class="container">
      <div class="container-head">
        <p>Exchanges</p>
      </div>
      <div class="container-content">
        <div class="row">
          <div class="content-box">
            <a href="https://dswap.trade/">
              <img src="/images/dswap.png" alt="dswap" />
            </a>
            <p>Dswap</p>
            <p>
              DSWAP simplifies token swapping on Hive-Engine with automated
              conversions and a KYC-free, cost-effective approach. Leveraging
              Hive's fast 3-second block times, it ensures quick transactions
              and enables users to move between cryptocurrencies seamlessly, all
              without gas fees.
            </p>
          </div>
          <div class="content-box">
            <a href="https://tribaldex.com/">
              <img src="/images/tribaldex.png" alt="tribaldex" />
            </a>
            <p>Tribaldex</p>
            <p>
              Tribaldex is a dedicated exchange platform tailored to the Hive
              blockchain, enabling users to interact with tokens from diverse
              Hive communities and tribes, fostering community engagement and
              supporting decentralized projects.
            </p>
          </div>
          <div class="content-box">
            <a href="https://hive-engine.com/">
              <img src="/images/hiveEngine.png" alt="hiveEngine" />
            </a>
            <p>Hive Engine</p>
            <p>
              Hive Engine is a gateway to a diverse and dynamic blockchain
              ecosystem where users and developers can interact with various
              tokens, assets, and digital collectibles built on the Hive
              blockchain, all within a user-friendly web interface.
            </p>
          </div>
          <div class="content-box">
            <a href="https://beeswap.dcity.io/convert">
              <img src="/images/beeswap.png" alt="beeswap" />
            </a>
            <p>BeeSwap</p>
            <p>
              The BeeSwap website provides a convenient and user-friendly
              platform for token conversion, offering an effortless way to swap
              tokens and access information on existing token swap pools.
              Additionally, it simplifies the process of checking your wallet
              balance and facilitates the seamless transfer of various
              cryptocurrency assets, ensuring a smooth and efficient experience
              for users.
            </p>
          </div>
        </div>
      </div>
      <div class="container-head">
        <p>Games</p>
      </div>
      <div class="container-content">
        <div class="row">
          <div class="content-box">
            <a href="https://splinterlands.com/">
              <img src="/images/splinterlands.png" alt="splinterlands" />
            </a>
            <p>Splinterlands</p>
            <p>
              Splinterlands is a popular blockchain-based collectible card game
              where players build decks of digital cards and battle against
              others for rewards. It operates on the Hive blockchain, allowing
              players to trade and own the in-game cards as non-fungible tokens
              (NFTs). The game's play-to-earn model enables users to earn
              cryptocurrency and NFT rewards through strategic gameplay.
            </p>
          </div>
          <div class="content-box">
            <a href="https://terracoregame.com?ref=rhiaji">
              <img src="/images/terracore.png" alt="terracore" />
            </a>
            <p>TerraCore</p>
            <p>
              TerraCore is a captivating Strategy Idle Game under development on
              the HIVE blockchain by @crypt0gnome and @asgarth. In this game,
              your objective is to cultivate a thriving community while facing
              various dangers within the TerraCore universe. This game offers an
              engaging and immersive gaming experience on the blockchain.
            </p>
          </div>
          <div class="content-box">
            <a href="https://splinterforge.io">
              <img src="/images/splinterforge.png" alt="splinterforge" />
            </a>
            <p>Splinterforge</p>
            <p>
              Take charge of a formidable team composed of your Splinterlands
              card collection and lead them into epic battles against powerful
              bosses and opponents. As you guide your cards to victory, your
              strategic prowess and skills can propel you up the leaderboard,
              where top rankings come with lucrative rewards, making every
              battle a thrilling and rewarding experience.
            </p>
          </div>
          <div class="content-box">
            <a href="https://go.splex.gg/?ref=rhiaji">
              <img src="/images/go.png" style="width: 170px" alt="go" />
            </a>
            <p>Golem Overlord</p>
            <p>
              Golem Overlord is an idle game set in a dystopian world, where
              players act as golemancers responsible for controlling and
              managing their golems as they navigate and survive within the
              game's unique environment. The game includes a distinctive in-game
              currency called PART, essential for various actions, and features
              like skill systems, leaderboards, and integration with Splex to
              offer an immersive idle gaming experience.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </body>
</html>
